:root {
  --bg-color-1: #070b18;
  --bg-color-2: #b0b5c2;
  --fg-color-1: #e8edfa;
  --fg-color-2: #d9deea;
  --accent-color-1: #0f3461;
  --accent-color-2: #707581;
}

body {
  display: flex;
  flex-direction: row;

  overflow: hidden;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 0px;
}

/* Hidden elements, used for storing IDs */
#hidden {
  visibility: hidden;
  position: absolute;
}

.main-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-color-1);

  width: 100%;
  z-index: 1;
}

.standard-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 20px;

  background-color: var(--fr-color-1);
}

.standard-button:hover {
  cursor: pointer;
  background-color: var(--accent-color-2);
}

.standard-button:active {
  background-color: var(--accent-color-1);
}

.standard-dialog {
  border-radius: 20px;
  background-color: var(--fg-color-1);
}